@media screen and (max-width: 325px) {
    .head h1{
        word-break: break-all; 
    }
}
@media screen and (max-width: 457px) {
    .head{
        margin-bottom: 15px;
    }
    .capturebtn{
        flex-direction: column;
    }
    #brennerFields{
        margin:0px !important;
    }
    .deleteBrenner{
        margin:0px !important;
    }
    .content{
        padding-bottom: 60px !important;
    }
}

@media screen and (max-width: 200px) {
    body{
        display: none !important;
    }
    html{
        background: red;
    }
}

body, html{
    color-scheme: dark;
    background:#191919;
}

input[type="text"]:not(#login_form input[type="text"]) {
    border-radius: 8px;
    border-width: 2px;
    border-color: rgba(128, 128, 128, 0.3);
    border-style: solid;
    margin: 1px;
    width: 200px;
    max-width: 80%;
    padding: 5px;
    background-color: transparent;
    text-align: center;
}

button[type="submit"]{
    height: 25px;
    width: 25px;
    display: grid;
    place-content: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

button:hover{
    background: rgba(255, 255, 255, 0.75);
    color: black
}

.updateconfig{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}

.button-glow {
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #009e28, 0 0 20px #009e28;
    }
    to {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #009e28, 0 0 40px #009e28;
    }
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito";
}

.content{
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.3);
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.05);
    padding-bottom: 15px;
}

.status-light{
    background-color: red;
    width: 25px;
    min-width: 25px;
    min-height: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    border-width: 1px;
    border: solid;
    border-color: rgba(44, 44, 44, 0.5);
}

.success {
    background-color: rgb(26, 255, 0);
}

.failure {
    background-color: red;
}

.updateconfig label{
    width: 40px;
    display: inline-block;
}

.head{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

h1{
    margin: 0;
}

.image{
    position: relative;
    justify-content: center;
    min-height: 100px;
    align-items: center;
    width: 100%;
}

.image > img{
    position: relative; 
    max-width: 100%;
    border-radius: 25px;
    min-width: 100%;
}

.image > p{
    position: absolute; 
    top: 0;
    margin: 10px;
    text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}

.image > a{
    position: absolute;
    top: 40px;
    left: 10px;
    background: rgba(0, 0, 0, 0.2);
    padding: 1px 5px;
    border-radius: 20px;
    color: white;
    transition: 0.3s ease-in-out;
}

.image > a:hover{
    background: rgba(255, 255, 255, 0.75);
    color: black;
}    

.capturebtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.capturebtn a{
    color: white;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 25px;
    padding: 0 5px;
    border: solid 2px rgba(255, 255, 255, 0.75);
    transition: 0.3s ease-in-out;
}

.capturebtn a:hover{
    background: rgba(255, 255, 255, 0.75);
    color: black;
}
.active{
    color:rgb(26, 255, 0);
}
.notactive{
    color: red;
}
.active, .notactive{
    display: inline-block;
    margin: 0;
}

.brenner{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.updater_buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.deleteBrenner{
    height: 30px;
    width: 30px;
    display: grid;
    place-content: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    margin-right: 50px;
}

#addBrenner{
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    font-size: 25px;
}

#brennerFields{
    margin-left: 72px;
}

.brenner_p{
    margin-top: 7px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: -10px;
}

.account_profile{
    position:absolute;
    flex-direction: column;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: #333;
    padding: 2px 5px;
    border-radius: 10px;
    cursor: pointer;
}


#account_name{
    margin:0;
}

.account_profile_upper{
    display: flex;
    gap: 10px;
}

#logout_button{
    cursor:pointer;
    display: none;
}

.gradiant_bottom{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    pointer-events: none;
}

#login_form{
    display: none;
}

#login_form_internal{
    flex-direction: column;
    display: flex;
    gap: 5px;
}

#login_form input[type="text"], 
#login_form input[type="password"] {
    border: none;
    border-radius: 2px;

}

