<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunkermessungai Kamera</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="gradiant_bottom"></div>
    <div class="account_profile" onclick="toggleDropdown()">
        <div class="account_profile_upper">
            <p id="account_name">{{ username }}</p>
            <span class="material-symbols-outlined">
                account_circle
            </span>
        </div>
        {% if username != "Not logged in!" %}
            <button id="logout_button" class="dropdown_item" onclick="logout()">logout</button>
        {% else %}
            <div id="login_form" class="dropdown_item">
                <form id="login_form_internal" action="/login" method="post" onclick="event.stopPropagation();">
                    <input type="text" name="username" placeholder="username" required>
                    <input type="password" name="password" placeholder="password" required>
                    <input type="submit" value="Login">
                </form>
            </div>
        {% endif %}
    </div>
    
    
    <div class="head">
        <div class="status-light {% if config.ping_success %}success{% else %}failure{% endif %}" id="status-light" title="{% if config.ping_success %}Online{% else %}Offline{% endif %}"></div>
        <h1>Bunkermessungai.de Kamera</h1>
    </div>
    <div class="content">
        <div class="image">
            <img src="{{ url_for('static', filename='images/captured_image.jpg') }}" alt="Captured Image">
            <p>{{ last_modified }}</p>
            <a href="http://bunkermessungai.de">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
        
        <div class="capturebtn">
            {% if capturing %}
            <p class="active">Bilder werden aufgenommen...</p>
            <a href="/stop_capture">Diese Kamera stoppen</a>
            {% else %}
            <p class="notactive">Es werden keine Bilder gemacht!</p>
            <a href="/start_capture">Diese Kamera starten</a>
            {% endif %}
        </div>
        {% if token_missing %}
            <div class="alert alert-danger">
                Token is missing! Please login.
            </div>
        {% endif %}
        
        <p style="margin: 0;">Configuration</p>
        <form class="updateconfig" action="/update_config" method="post" autocomplete="off">
            <div class="config_wrapper">
                <div>
                    <label title="Hier kannst du deinen Key ändern" for="key">Key:</label>
                    <input title="Hier kannst du deinen Key ändern" type="text" id="key" name="key" placeholder="Den Geheim Key hier eingeben" {% if config_key != None %}value="{{ config_key }}"{% endif %}><br>
                
                    <label title="Hier kannst du festlegen, wie oft am Tag bilder gemacht werden" for="time">Time:</label>
                    <input title="Hier kannst du festlegen, wie oft am Tag bilder gemacht werden" placeholder="Wie viele Bilder pro Tag?" type="text" id="time" name="time" value="{{ config.time }}"><br>
                </div>
                <p class="brenner_p" >Eingerichtete Brenner (optional)</p>
                <div id="brennerFields">
                    <!-- Existing Brenner fields will be inserted here via Flask -->
                    {% for brenner in config.brenner %}
                    <div class="brenner">
                        <div>
                            <div>
                                <label>IP:</label>
                                <input type="text" name="brenner_ip" placeholder="Ip vom Hdg Brenner" value="{{ brenner.ip }}">
                            </div>
                            
                            <div>
                                <label>Name:</label>
                                <input type="text" name="brenner_name" placeholder="Bennene den Brenner (optional)" value="{{ brenner.name }}">
                            </div>
                        </div>

                        <button type="button" class="deleteBrenner" onclick="deleteBrenner(this)">🗑️</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="updater_buttons">
                <button type="button" id="addBrenner">+</button>

                <button type="submit" title="Hier kannst du deine Änderungen speichern">
                    <i class="fas fa-check"></i>
                </button>
            </div>
        </form>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var form = document.querySelector('.updateconfig');
                var submitButton = form.querySelector('[type="submit"]');
                
                form.addEventListener('input', function() {
                    triggerGlow();
                });
                
                form.addEventListener('submit', function() {
                    submitButton.classList.remove('button-glow');
                });
                
                document.querySelectorAll('.deleteBrenner').forEach(function(button) {
                    button.addEventListener('click', function() {
                        triggerGlow();
                    });
                });
            });

            function triggerGlow() {
                document.querySelector('[type="submit"]').classList.add('button-glow');
            }

            document.getElementById('addBrenner').addEventListener('click', function() {
                var brennerFields = document.getElementById('brennerFields');
                var newBrenner = document.createElement('div');
                newBrenner.className = 'brenner';
                newBrenner.innerHTML = `
                    <div>
                        <div>
                            <label>IP:</label>
                            <input type="text" name="brenner_ip" placeholder="Ip vom Hdg Brenner" value="">
                        </div>
                        <div>
                            <label>Name:</label>
                            <input type="text" name="brenner_name"  placeholder="Bennene den Brenner (optional)" value="">
                        </div>
                    </div>
                    <button type="button" class="deleteBrenner" onclick="deleteBrenner(this)">🗑️</button>
                `;
                brennerFields.appendChild(newBrenner);

            });
            
            function deleteBrenner(button) {
                button.parentElement.remove();
            }

            function toggleDropdown() {
                const dropdownItems = document.querySelectorAll(".dropdown_item");
                dropdownItems.forEach(item => {
                    if (item.style.display === "none" || !item.style.display) {
                        item.style.display = "block";
                    } else {
                        item.style.display = "none";
                    }
                });
            }

            // You might not need this function anymore, but I'll leave it here just in case.
            function show_logout_button(){
                const logoutButton = document.getElementById("logout_button");
                if (logoutButton.style.display === "none" || !logoutButton.style.display) {
                    logoutButton.style.display = "block";
                } else {
                    logoutButton.style.display = "none";
                }
            }

            function logout() {
                fetch('/logout', {
                    method: 'POST'
                })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        console.error('Failed to logout.');
                    }
                });
            }

            </script>
    </div>
</body>
</html>
